* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.text {
    width: 48%;
    height: 630px;
    font-size: 130%;
    float: left;
    background: white;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 2%;
    margin-right: 4%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
img{
  max-width: 100%;
  max-height: 100%;
}
.pic {
  width: 48%;
  height: 630px;
  float: right;
  background: white;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 2%;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.indexModule {
    width: 100%;
}
.adminModule {
    width: 100%;
    background: white;
    text-align:center;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 2%;
    margin-right: 4%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
.module {
  width: 100%;
  background: white;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 2%;
  margin-right: 4%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

body {
    background-color: slategrey;
    margin:0;
}
.header {
    padding: 30px;
    text-align: center;
    color: white;
    border-radius: 20px;
}
.footer {
    padding: 30px;
    text-align: center;
    color: black;
}

input[type=password], select {
    width: 190px;
    padding: 12px 20px;
    padding-top: 10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 20px;
}
#query {
    width: 190px;
    float: right;
    padding: 12px 20px;
    padding-top: 10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 60px
}
#srchbtn {
    width: 50px;
    background-color: white;
    float: right;
    text-align: center;
    padding: 12px 12px;
    padding-top: 10px;
    position: relative;
    border-radius: 20px;
    margin-right: -250px
}
input[type=signuptext], select {
    width: 190px;
    padding: 12px 20px;
    padding-top: 10px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 20px;
}
button[type=show] {
    width: 100%;
    background-color: white;
    text-align: center;
    font-size: 120%;
    padding: 12px 12px;
    padding-top: 10px;
    position: relative;
    border-radius: 20px;
}
button[type=submit] {
    width: 140px;
    background-color: white;
    text-align: center;
    padding: 12px 12px;
    padding-top: 10px;
    position: relative;
    border-radius: 20px;
}
#wrap {
    overflow: hidden;
    background: #eee;
    max-width: 1377px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}
#navbar {
    overflow: hidden;
    padding: inherit;
    background-color: #333;
    border-radius: 20px;
    z-index: 1;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 20px;
}

#navbar a:hover {
  background-color: #4CAF50;
  color: black;
  border-radius: 20px;
}

#navbar a.active {
  background-color: limegreen;
  color: green;
  border-radius: 20px;
}

#navbar a.logo {
    padding: 3px 16px;
}
.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.slides {
    display: none;
    position: inherit;
    width: 100%;
    height: 100%;
    background-size: inherit;
}
