.module {
    text-align: center;
}
#ingredient-list {
    display: inline-block;
    border: 2px solid #50a060;
    margin: 20px;
    margin-top: -10px;
    text-align: left;
    width: 400px;
}
#remove-button {
    margin: 12px;
    padding-left: 10px;
}
.ingredient-container {
    padding: 10px;
    height: 70px;
}
.ingredient-container:nth-child(even) {
    background-color: #f0ffc0;
    height: 70px;
}
input[type=button] {
    background-color: white;
    text-align: center;
    padding: 12px 12px;
    padding-top: 10px;
    float: right;
    border-radius: 20px;
}
input[type=submit] {
    background-color: white;
    text-align: center;
    padding: 12px 12px;
    padding-top: 10px;
    border-radius: 20px;
}

#input {
    width: 190px;
    padding: 12px 20px;
    padding-top: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

