body {
     text-align: center;
}
.module img {
    margin: 10px;
    border: 4px solid #50a050;
    border-radius: 4px;
}
#instructions {
    text-decoration: none;
    font-weight: bold;
}
#instructions:hover {
    text-decoration: underline;
}
